.bg-primary {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

}

body {
    font-family: 'DM Sans', sans-serif !important;
}

#hoverThem {
    margin-top: -10px;
    color: rgba(0, 0, 0, 0.5);
}